<form action="/process-login" method="POST">
  <div>
    <label for="login-input">Username or email:</label>
    <input type="text" name="username" id="login-input">
    <label for="password-input">Password:</label>
    <input type="password" name="password" id="password-input">
    <input type="submit" onsubmit="submit" value="Login">
    <span>{{loginErrorMsg}}</span>
  </div>
</form>
