<form action="/process-login" method="POST">
  <div>
    <label for="login-input">Username or email:</label>
    <input type="text" name="login-name" id="login-input">
    <label for="password-input">Password:</label>
    <input type="text" name="login-password" id="password-input">
    <input type="submit" onsubmit="submit" value="Login">
  </div>
</form>
