<form action="/logout" method="POST">
  <div>
    <label for="logout">Hello, <b>{{username}}</b>! Click to logout: </label>
    <input type="submit" onsubmit="submit" value="Logout" id="logout">
  </div>
</form>
