<form action="/signup-user" method="POST">
  <label for="username-input">Username:</label>
  <input type="text" name="username">
  <br />
  <label for="username-input">Password:</label>
  <input type="text" name="password">
  <br />
  <input type="submit" onsubmit="submit" value="Sign Up!">
</form>
