<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="utf-8">
   <title>{{pageTitle}}</title>

   <link href="/styles.css" rel="stylesheet">
   <!--
   <script src="scripts.js"></script>
   -->
</head>
<body>

  {{>header}}

  {{#unless username}}
  {{>loginform}}
  {{/unless}}

  {{#if username}}
  {{>logout username=username}}
  {{/if}}

  <main>
    <p>This page was built within the Node-Express framework. Other
    technologies include the Handlebars template engine.</p>
    <p>The word guessing game was built with React.</p>
  </main>


    {{>footer}}

</body>
</html>
