<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="utf-8">
   <title>{{pageTitle}}</title>

   <link href="/styles.css" rel="stylesheet">
   <!--
   <script src="scripts.js"></script>
   -->
   <style>
   input {
     margin:3px;
   }
   </style>
</head>
<body>

    {{> header}}

  <main>
    {{> loginform}}
  </main>

  {{> footer}}

</body>
</html>
