<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="utf-8">
   <title>{{pageTitle}}</title>

   <link href="/styles.css" rel="stylesheet">
   <!--
   <script src="scripts.js"></script>
   -->
</head>
<body>

    {{>header}}

    {{#unless validUser}}
    {{>loginform}}
    {{/unless}}

    {{#if validUser}}
    {{>logout}}
    {{/if}}

  <main>
    <p>{{welcomeMessage}}</p>
  </main>

  {{>footer}}

</body>
</html>
