<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="utf-8">
   <title>{{pageTitle}}</title>

   <link href="/styles.css" rel="stylesheet">

</head>
<body>

    {{>header}}
<!--
    {{#unless username}}
    {{>loginform}}
    {{/unless}}

    {{#if username}}
    {{>logout username=username}}
    {{/if}}
-->
  <main>
    <h3>Introduction</h3>
    <p>I use this site to display the various web projects I'm working on. These
    projects are written with the help of React, Handlebars, and the back-end
    Node-Express framework.</p>
    <p>There is also a login system here that is mostly for me to test out
    working on sessions. You really don't have to sign up or log in to click on
    any other links.</p>
  </main>

  {{>footer}}


</body>
</html>
