<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="utf-8">
   <title>{{pageTitle}}</title>

   <link href="/styles.css" rel="stylesheet">
   <!--
   <script src="scripts.js"></script>
   -->
</head>
<body>

    {{>header}}
    {{>loginform}}

    <main>
      <h3>Projects</h3>
      <p><a href="https://stevelud.github.io/monopoly-test.io/monopoly.html">Monopoly</a>:
      This is my (for now aborted) attempt, saved on Github, at creating an interface for a Monopoly-type game. There is no back-end functionality here, but some buttons and animations do work.</p>
    </main>

  {{> footer}}

</body>
</html>
