<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="utf-8">
   <title>{{pageTitle}}</title>

   <link href="/styles.css" rel="stylesheet">
   <!--
   <script src="scripts.js"></script>
   -->
</head>
<body>

  {{>header}}

  {{#unless username}}
  {{>loginform}}
  {{/unless}}

  {{#if username}}
  {{>logout username=username}}
  {{/if}}

  <main>
    <form action="/signup-user" method="post">
      <label for="username-input">Username:</label>
      <input type="text" name="username" id="username-input">
      <br />
      <label for="username-input">Pasword:</label>
      <input type="text" name="password" id="password-input">
      <br />
      <input type="submit" onsubmit="submit" value="Sign Up!">
    </form>
  </main>

  {{> footer}}

</body>
</html>
