<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="utf-8">
   <title>Guess the Word!</title>

   <link href="/wordgame.css" rel="stylesheet">

<body>
      <!-- Target container -->
      <div id="target"></div>

      <!-- For Production -->

      <script crossorigin src="https://unpkg.com/react@17/umd/react.production.min.js"></script>
      <script crossorigin src="https://unpkg.com/react-dom@17/umd/react-dom.production.min.js"></script>

      <!-- Babel -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.29/browser.js"></script>

      <!-- Word Game Script -->
      <script src="./wordgame/wordgame.js"></script>

</body>
</html>
