<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="utf-8">
   <title>Guess the Word!</title>

   <link href="/wordgame.css" rel="stylesheet">

<body>
      <!-- Target container -->
      <div id="target"></div>

      <!-- For Development -->
      <script crossorigin src="https://unpkg.com/react@17/umd/react.development.js"></script>
      <script crossorigin src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>
      <script src="/wordgame.js"></script>
</body>

</html>
