body {
  background-image: linear-gradient(to right, lightskyblue, lightblue);
}
header, footer {
  text-align:center;
  font-family:monospace;
  background-color:blue;
  padding:5px;
  color:white;
  max-width:75%;
  margin:auto;
}
header {
  margin-bottom:5px;
}
header a {
  color:white;
}
form div {
  margin-left:20px;
}
form {
  font-family:monospace;
  background-color:blue;
  padding:5px;
  color:white;
  max-width:75%;
  margin:auto;
}

form[action="/signup-user"] input[type="submit"] {
  width:100%;
  text-align:center;
}

form[action="/signup-user"] {
  width:18%;
  background:linear-gradient(0.25turn, red 40%, white 60%, blue 100%);
}
form[action="/signup-user"] input[type="text"] {
  margin-bottom:1em;
}

main {
  max-width:60%;
  padding:2%;
  margin:auto;
  font-family:Garamond,'Segoe UI',Roboto,'Helvetica Neue',Arial,'Noto Sans',sans-serif;
}

.warning {
  margin:auto;
  margin-top:2em;
  padding:1em;
  width:80%;
  background-color:white;
  color:black;
  border:5px;
  border-style:solid;
  border-color:red;
}

.warning-text {
  color:red;
  font-weight:bold;
  height:1.3em;
}

.signupWarning {
  display:block;
  margin:auto;
  margin-top:1em;
  padding:.3em;
  border:2px;
  border-style:solid;
  border-color:red;
  background-color:white;
  width:20%;
  text-align:center;
}
