body {
  background-image: linear-gradient(to right, lightskyblue, lightblue);
}
header, footer {
  text-align:center;
  font-family:monospace;
  background-color:blue;
  padding:5px;
  color:white;
  max-width:75%;
  margin:auto;
}
header {
  margin-bottom:5px;
}
header a {
  color:white;
}
form div {
  margin-left:20px;
}
form {
  font-family:monospace;
  background-color:blue;
  padding:5px;
  color:white;
  max-width:75%;
  margin:auto;
}

main {
  max-width:60%;
  margin:auto;
}
